<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186145247631-2t3q3k6idnraj0aagc8mrre4l13hdqui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186145247631-2t3q3k6idnraj0aagc8mrre4l13hdqui</string>
	<key>API_KEY</key>
	<string>AIzaSyBuM__a9dKqUKQYuCP3tDfN8qdi07LZ7Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>186145247631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worksample</string>
	<key>PROJECT_ID</key>
	<string>worksample-c568d</string>
	<key>STORAGE_BUCKET</key>
	<string>worksample-c568d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186145247631:ios:eb21ba1e9739d117c27bfa</string>
</dict>
</plist>